*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box;  */
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: whitesmoke;
    color: #000f;
    line-height: 1.6;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.poi h1{
    text-decoration: underline;
    color: #ededed;
    font-size: 3rem;
}
nav{
    display: flex;
    justify-content: center;
    background-color: #121212;
}
.intro {
    background-size: 100%;
    text-align: left;
    margin: 40px 0;
}

header {
   
    background-image:linear-gradient(90deg,rgba(0, 0, 0, 0.318),rgba(0, 0, 0, 0.027)),url(last.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #ededed;
    padding: 20px 0;
    text-align: center;
    color: black;
}

.intro h2 {
    font-size: 3rem;
    color: black;
}

.intro span {
    color: #0066ff;
}

.intro p {
    font-size: 1.5rem;
    margin: 10px 0;
}
.btn {
    display: inline-block;
    padding: 10px 30px;
    color: #0066ff;
    text-decoration: none;
    border: 3px solid #0066ff;
    margin-top: 20px;
    font-size: larger;
    background-color: white;
    border-radius: 5px;
    transition: .5s;
}

.btn:hover{
    background-color: #0066ff;
    color: #fff;
}

#cont1{
    display: flex;
}

.info p {
    margin: 10px 0;
}

.about {
    display: flex;
    margin: 60px 0;
}

.about-img img {
    margin-top: 50px;
    width: 300px;
    border-radius: 10px;
    margin-right: 20px;
}
.about-info {
    margin-left: 30px;
    font-size: 20px;
}

.about-info h3 {
    font-size: 1.5rem;
    color: #0066ff;
}

.about-info h2 {
    font-size: 2rem;
    margin: 10px 0;
    color: #000;
}
.skills{
    background-color: #121212;
    color:whitesmoke;
    text-align: center;
    height: 100%;
}
.skills h2{
    font-size: 3rem;
    text-decoration: underline;
}
#flexbox{
    display:flex;
    padding: 50px;
    justify-content: center;
    flex-wrap: wrap;
}
.skill-1{
    text-align: center;
    width: 20%;
    height: 20%;
    margin-left: 30px;
    border: 3px grey solid;
    padding 50px
    border-radius: 50%;
}
.skill-1 h3{
    font-size: 1.5rem;
}
section{
    width: 100%;
}
.profs{
    background-color: #121212;
    color: whitesmoke;
    text-align: center;
    font-size: 1.5rem;

}
.profiles{
    background-color: #121212;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-img{
    height:70px;
    margin:20px;
}

.FeedbackForm{
    padding-top: 20px;
    background-color: #121212;
    color:#0066ff;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 50px;
}
.FeedbackForm h3{
    color: whitesmoke;
    font-size: 2rem;
}
input{
    height: 30px;
    margin: 20px;
}
textarea{
    height: 40px;
}
#submit{
    background-color: #0066ff;
    height: 50px;
    width: 200px;
    font-size: 2rem;
    color: whitesmoke;
}